<f:if condition="{helpdesks}">
	<f:then>
		<div class="list gridright scroll-container margintop rulerbefore4">
			<f:widget.paginate objects="{helpdesks}" as="paginatedHelpdesks" configuration="{itemsPerPage: settings.pageBrowser.itemsPerPage, insertAbove: settings.pageBrowser.insertAbove, insertBelow: settings.pageBrowser.insertBelow, maximumNumberOfLinks: settings.pageBrowser.maximumNumberOfLinks}">
				<f:for each="{paginatedHelpdesks}" as="helpdesk">
					<div class="marginbottom scroll-item clearfix">
						<div class="entry grid_10 floatleft borderbottom">
							<h2 class="noborder nomargin">
								<f:link.action action="show" pageUid="{settings.pidOfDetailPage}" arguments="{helpdesk: helpdesk}">{helpdesk.title}</f:link.action>
							</h2>
							<div class="grid_6 floatleft">
								<f:render partial="Helpdesk/Address" arguments="{helpdesk: helpdesk}"/>
							</div>
							<div class="grid_6 floatleft">
								<f:if condition="{helpdesk.telephone}">
									{helpdesk.telephone}<br />
								</f:if>
								<f:if condition="{helpdesk.email}">
									<f:link.email email="{helpdesk.email}">[E-MAIL]</f:link.email>
								</f:if>
							</div>
						</div>
					</div>
				</f:for>
			</f:widget.paginate>
		</div>
	</f:then>
	<f:else>
		<div class="noResults"><f:translate key="noResults" /></div>
	</f:else>
</f:if>
