<html lang="en"
			xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			data-namespace-typo3-fluid="true">

<f:if condition="{helpdesk.facebook}">
	<div class="social"><f:link.external uri="{helpdesk.facebook}">[FACEBOOK]</f:link.external></div>
</f:if>
<f:if condition="{helpdesk.twitter}">
	<div class="social"><f:link.external uri="{helpdesk.twitter}">[TWITTER]</f:link.external></div>
</f:if>
<f:if condition="{helpdesk.instagram}">
	<div class="social"><f:link.external uri="{helpdesk.instagram}">[INSTAGRAM]</f:link.external></div>
</f:if>
</html>
